@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
html,
body {
  font-family: "Poppins", sans-serif !important;
  font-style: normal;
  background-color: #f8f8fa;
}
 a{
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 500;
  /* background-color: #4640de ; */
}

.nav__item:hover{
  text-decoration: none;
  color: #4640de;
}

.nav__item.active{
  color: #4640de;
}

.text-end{
  color: black;
}

.btn-register {
  border: 1px solid #4640de;
}

.navbar{
  top: 0;
}

.navbar-brand{
  font-weight: 500px;
}

.jumbotron-freelance {
  width: 100%;
  background-image: url(/assets/img/landing-page/Jumbotron-Looking-Freelancesvg.svg);
}

.jumbotron-title {
  line-height: 4rem;
  color: black;
  margin-top: 20px;
}

.jumbotron-description {
  color: #9d9d9d;
  line-height: 1.7rem;
  font-size: 18px;
}

.btn-hire {
  background-color: #4640de;
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.procedure-text {
  color: #9d9d9d;
}

.offer-title {
  line-height: 4rem;
}

.offer-title span {
  color: #4640de;
}

.offer-description {
  color: #9d9d9d;
}

@media (max-width: 1000px) {
  .offering-image {
    display: none;
  }
  .offering {
    width: 100%;
  }
}

.latest-description {
  color: #9d9d9d;
}

.latest-title{
  color: black;
}

.latest-title span {
  color: #4640de;
}

.vector-right{
    background-color: #4640de;
}

.card-title {
    color: #252525;
}

.card-text{
    color: #9d9d9d;
}

.apply-link{
    text-decoration: underline;
    color: #4640de;
    display: block;
    margin-top: 10px;
}

.category-title{
  color: black;
}

.category-title span {
  color: #4640de;
}

.background-category{
    position: relative;
    display: flex;
    justify-content: center;
}
.overlay-category{
    position: absolute;
    top: 0;
    left: 10px;
}
.category-freelance{
    position: absolute;
    color: white;
    z-index: 99;
    top: 45%;
    left: 30%;
}

.portofolios-type {
  color: #9d9d9d;
}

.portofolios-checkout{
  color: black;
}

.portofolios-checkout span {
  color: #4640de;
}

.portofolios-card {
  display: flex;
  justify-content: center;
}

.desc-footer{
  color: black;
}

.footer-title{
  color: black;
}

.footer-contact{
  color: black;
}

footer {
  font-size: 14px;
}

.navbar-dropdown {
  display: flex;
  justify-content: end;
}